
.text-primary-one-clr {
  color: #212121;
}

.text-primary-two-clr {
  color: #424242;
}

.text-purple-clr {
  color: #8c0052;
}

.text-white-clr {
  color: #ffffff;
}

.place-holder-clr {
  color: #9e9e9e;
}
