@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";
@import "./colors.scss";

:root {
  font-size: 16px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: Gibson-Regular;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: none;
}

.text-row-9 {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}